<% include ./header %>

    <div class="header-margin"></div>
    <div class="MainWrapper">
        <section class="Register sec-pad">
            <div class="container">
                <div class="BusinessSetUp">
                    <form class="workingTime">
                        <div class="aadservices">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">

                                       <div style="display:none;" class="alert alert-danger hideDiv" role="alert" id="err-invalid">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            </button>
                                            <strong>Oh snap!</strong> <span id="error-invalid"></span>
                                        </div>
                                        <div style="display:none;" class="alert alert-success hideDiv" role="alert" id="err-sucess">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                
                                            </button>
                                            <strong>Sucess!</strong> <span id="error-sucess"></span>
                                        </div>


                                    <h2>Add Certificate</h2>
                                    <div class="AddCertificate">
                                        <div class="md-form">
                                            <p>Certificate Image</p>
                                            <input type="file" id="file">
                                           <div id="file_error"></div>
                                        </div>
                                        <div class="md-form">
                                            <label>Certificate Title</label>
                                            <input type="text" class="form-control" placeholder="" id="title">
                                             <div id="title_error"></div>
                                        </div>
                                        <div class="md-form">
                                            <button type="button" class="btn btn-theme" onclick="certificateAdd();">Add</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-6">
                                    <h2>Add Bank Account</h2>
                                    <div class="bankAcc mt-3">
                                        <img src="/front/img/bank.png">
                                        <p>Fill all information to add your bank account.</p>
                                    </div>
                                    <input type="text" class="form-control" id="type">
                                    <div class="formbox bankForm">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>First Name</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Short Code</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Account Number</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label>Registered Address</label>
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="SelectSubItem stffSelection  csSelect">
                                                    <div class="form-group">
                                                        <label>Country Name</label>
                                                        <select>
                                                            <option>Select</option>
                                                            <option>Country 1</option>
                                                            <option>Country 2</option>
                                                            <option>Country 3</option>
                                                            <option>Country 4</option>
                                                            <option>Country 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="SelectSubItem stffSelection  csSelect">
                                                    <div class="form-group">
                                                        <label>Post Code</label>
                                                        <select>
                                                            <option>Select</option>
                                                            <option>45222</option>
                                                            <option>45525</option>
                                                            <option>45547</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-theme">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="formbtn mb-4 pt-3 text-right">
                        <a href="reg_business_step2.html" class="btn btn-theme">Previous</a>
                        <a href="#" class="btn btn-theme">Next</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

<% include ./footer %> 


