<% include ./header %> 
<div class="header-margin"></div>
  <div class="MainWrapper creambg">
    <!---Artist Dashboard Start Here-->
    <section class="artist_dashboard">
      <div class="container">
        <!---Tab Field start Here-->
        <div class="dashboard_tabwrap">
          <ul class="nav nav-tabs">
            <li role="presentation">
              <a class="active" href="#business" data-toggle="tab" aria-expanded="true">Business</a>
            </li>
            <li role="presentation">
              <a href="#social" data-toggle="tab" aria-expanded="false">Social</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="business">
              <div class="row">
                <div class="col-lg-7 col-sm-12 col-md-12">
                  <div class="dashboard_left">
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="dashboard_block">
                          <h2>
                            <a href="#">Sales</a>
                          </h2>
                          <div class="dashboard_body bodyheight">
                            <div class="todaysales">
                              <h2>Today</h2>
                              <h1>£ 500
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                              </h1>
                            </div>
                            <div class="list-items2">Last Monday
                              <span class="pull-right color-red">£ 200
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </span>
                            </div>
                            <div class="timeblock1">
                              <a href="#" data-toggle="modal" data-target="#CounterOffer">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="dashboard_block">
                          <h2>
                            <a href="#">Bookings</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="dollar_price">20</div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                        <div class="dashboard_block">
                          <h2>
                            <a href="#">Cancellations</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="dollar_price">20</div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="boucher_block">
                          <h2>
                            <a href="#">Staff Booking</a>
                          </h2>
                          <div class="boucher_body">
                            <div class="list-group-items">&nbsp;
                              <span class="pull-right">Previous</span>
                            </div>
                            <div class="list-group-items">1. Jamie Carragher
                              <span class="pull-right cr1">2</span>
                            </div>
                            <div class="list-group-items">2. Steven Gerrard
                              <span class="pull-right cr2">1</span>
                            </div>
                            <div class="list-group-items">3. Mohammed Salah
                              <span class="pull-right cr3">3</span>
                            </div>
                            <div class="list-group-items">4. Lan Rush
                              <span class="pull-right cr3">4</span>
                            </div>
                            <div class="list-group-items">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="boucher_block">
                          <h2>
                            <a href="#">Best Selling Services</a>
                          </h2>
                          <div class="boucher_body">
                            <div class="list-group-items">&nbsp;
                              <span class="pull-right">Previous</span>
                            </div>
                            <div class="list-group-items">1. Jamie Carragher
                              <span class="pull-right cr1">2</span>
                            </div>
                            <div class="list-group-items">2. Steven Gerrard
                              <span class="pull-right cr2">1</span>
                            </div>
                            <div class="list-group-items">3. Mohammed Salah
                              <span class="pull-right cr3">3</span>
                            </div>
                            <div class="list-group-items">4. Lan Rush
                              <span class="pull-right cr3">4</span>
                            </div>
                            <div class="list-group-items">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="boucher_block">
                          <h2>
                            <a href="#">VIP Customers</a>
                          </h2>
                          <div class="boucher_body">
                            <div class="list-group-items">&nbsp;
                              <span class="pull-right">Previous</span>
                            </div>
                            <div class="list-group-items">1. Jamie Carragher
                              <span class="pull-right cr1">2</span>
                            </div>
                            <div class="list-group-items">2. Steven Gerrard
                              <span class="pull-right cr2">1</span>
                            </div>
                            <div class="list-group-items">3. Mohammed Salah
                              <span class="pull-right cr3">3</span>
                            </div>
                            <div class="list-group-items">4. Lan Rush
                              <span class="pull-right cr3">4</span>
                            </div>
                            <div class="list-group-items">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="boucher_block">
                          <h2>
                            <a href="#">Voucher Usage</a>
                          </h2>
                          <div class="boucher_body">
                            <div class="list-group-items">&nbsp;
                              <span class="pull-right">Previous</span>
                            </div>
                            <div class="list-group-items">1. Jamie Carragher
                              <span class="pull-right cr1">2</span>
                            </div>
                            <div class="list-group-items">2. Steven Gerrard
                              <span class="pull-right cr2">1</span>
                            </div>
                            <div class="list-group-items">3. Mohammed Salah
                              <span class="pull-right cr3">3</span>
                            </div>
                            <div class="list-group-items">4. Lan Rush
                              <span class="pull-right cr3">4</span>
                            </div>
                            <div class="list-group-items">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="boucher_block">
                          <h2>
                            <a href="#">Best Referrals</a>
                          </h2>
                          <div class="boucher_body">
                            <div class="list-group-items">&nbsp;
                              <span class="pull-right">Previous</span>
                            </div>
                            <div class="list-group-items">1. Jamie Carragher
                              <span class="pull-right cr1">2</span>
                            </div>
                            <div class="list-group-items">2. Steven Gerrard
                              <span class="pull-right cr2">1</span>
                            </div>
                            <div class="list-group-items">3. Mohammed Salah
                              <span class="pull-right cr3">3</span>
                            </div>
                            <div class="list-group-items">4. Lan Rush
                              <span class="pull-right cr3">4</span>
                            </div>
                            <div class="list-group-items">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12 col-md-12"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-sm-12 col-md-12">
                  <div class="dashboard_block1">
                    <h2>Todays Bookings</h2>
                    <div class="booking_body">
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:00</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-theme waves-effect waves-light">Confirmed</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:45</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-theme waves-effect waves-light">Confirmed</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:50</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Cancelled</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dashboard_block1">
                    <h2>Notifications</h2>
                    <div class="booking_body">
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:00</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Request
                                        <br> appointment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:45</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Request
                                        <br> appointment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:50</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Request
                                        <br> appointment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="social">
              <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                  <div class="dashboard_left">
                    <div class="row">
                      <div class="col-lg-4 col-sm-12 col-md-12">
                        <div class="dashboard_block">
                          <h2>
                            <a href="#">Followers</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="dollar_price">500</div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-md-12">
                        <div class="dashboard_block">
                          <h2>
                            <a href="#">Likes</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="dollar_price">20</div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12 col-md-12">
                        <div class="dashboard_block">
                          <h2>
                            <a href="#">Shares</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="dollar_price">20</div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="dashboard_block1">
                          <h2>
                            <a href="#">Engagement</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="dollar_price">500</div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                        <div class="dashboard_block1">
                          <h2>
                            <a href="#">Demographics</a>
                          </h2>
                          <div class="dashboard_body">
                            <div id="myChart"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="dashboard_block1">
                          <h2>
                            <a href="#">Followers / Location</a>
                          </h2>
                          <div class="dashboard_body">
                            <div class="list-items">London
                              <span class="pull-right">700</span>
                            </div>
                            <div class="list-items">Manchester
                              <span class="pull-right">400</span>
                            </div>
                            <div class="list-items">Oldham
                              <span class="pull-right">340</span>
                            </div>
                            <div class="list-items">Wigan
                              <span class="pull-right">230</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="dashboard_block1">
                          <h2>
                            <a href="#">Posts form the last 7 days</a>
                          </h2>
                          <div class="booking_body">
                            <div class="likepost_row">
                              <h5>1. Jamie Carragher - 11/12/17</h5>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="bookingDetails">
                                    <div class="media">
                                      <div class="media-left">
                                        <div class="user-image">
                                          <a href="#" target="_self">
                                            <img src="/front/img/staff-5.jpg" class="img-responsive">
                                          </a>
                                        </div>
                                      </div>
                                      <div class="media-body">
                                        <div class="likeuser">
                                          <ul>
                                            <li>
                                              <div class="likepost">
                                                <h4>Likes</h4>
                                                <h6>500</h6>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="likepost">
                                                <h4>Shares</h4>
                                                <h6>30</h6>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="likepost">
                                                <h4>Engagement</h4>
                                                <h6>1240</h4>
                                              </div>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="likepost_row">
                              <h5>2. Lan Rush - 11/12/17</h5>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="bookingDetails">
                                    <div class="media">
                                      <div class="media-left">
                                        <div class="user-image">
                                          <a href="#" target="_self">
                                            <img src="/front/img/staff-5.jpg" class="img-responsive">
                                          </a>
                                        </div>
                                      </div>
                                      <div class="media-body">
                                        <div class="likeuser">
                                          <ul>
                                            <li>
                                              <div class="likepost">
                                                <h4>Likes</h4>
                                                <h6>500</h6>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="likepost">
                                                <h4>Shares</h4>
                                                <h6>30</h6>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="likepost">
                                                <h4>Engagement</h4>
                                                <h6>1240</h4>
                                              </div>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="likepost_row">
                              <h5>3. Luis Suarez - 11/12/17</h5>
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="bookingDetails">
                                    <div class="media">
                                      <div class="media-left">
                                        <div class="user-image">
                                          <a href="#" target="_self">
                                            <img src="/front/img/staff-5.jpg" class="img-responsive">
                                          </a>
                                        </div>
                                      </div>
                                      <div class="media-body">
                                        <div class="likeuser">
                                          <ul>
                                            <li>
                                              <div class="likepost">
                                                <h4>Likes</h4>
                                                <h6>500</h6>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="likepost">
                                                <h4>Shares</h4>
                                                <h6>30</h6>
                                              </div>
                                            </li>
                                            <li>
                                              <div class="likepost">
                                                <h4>Engagement</h4>
                                                <h6>1240</h4>
                                              </div>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="timeblock">
                              <a href="#">Change time frame</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12">
                  <div class="dashboard_block1">
                    <h2>Todays Bookings</h2>
                    <div class="booking_body">
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:00</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-theme waves-effect waves-light">Confirmed</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:45</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-theme waves-effect waves-light">Confirmed</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:50</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Cancelled</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="dashboard_block1">
                    <h2>Notifications</h2>
                    <div class="booking_body">
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:00</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Request
                                        <br> appointment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:45</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Request
                                        <br> appointment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowblock">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bookingDetails">
                              <div class="media">
                                <div class="media-left">
                                  <div class="user-image">
                                    <a href="#" target="_self">
                                      <img src="/front/img/staff-5.jpg" class="img-responsive">
                                    </a>
                                  </div>
                                </div>
                                <div class="media-body">
                                  <div class="bookleft">
                                    <h4 class="media-heading">
                                      <a href="#">James Bling </a>
                                    </h4>
                                    <div class="serviseslead">
                                      <h4>Hair</h4>
                                    </div>
                                  </div>
                                  <div class="bookright text-center">
                                    <p class="paraText">13:50</p>
                                    <div class="btn_rows">
                                      <a class="btn btn-themered waves-effect waves-light">Request
                                        <br> appointment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---Tab Field end Here-->
      </div>
    </section>
    <!---Artist Dashboard End Here-->
    <!--Footer-->
   <% include ./footer %> 