<% include ./header %> 

  <div class="header-margin"></div>
  <div class="MainWrapper creambg">
    <section class="explorerHead">
      <div class="explorer sec-pad gradient-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ul class="list-inline expBtn">
                <li>
                  <a href="#">Top</a>
                </li>
                <li>
                  <a href="#">People</a>
                </li>
                <li>
                  <a href="#">Hashtags</a>
                </li>
                <li>
                  <a href="#">Service Tags</a>
                </li>
                <li>
                  <a href="#">Location</a>
                </li>
              </ul>
              <form class="SearchForm">
                <input type="text" placeholder="Search...">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="SearchResult sec-pad">
      <div class="container">
        <div class="ExplorerCnt">
          <div class="innerHeading">
            <h2>Stories</h2>
          </div>
          <div class="storiesview">
            <!-- <a href="#">
              <img src="/front/img/staff-1.jpg">
            </a>
            <a href="#">
              <img src="/front/img/staff-3.jpg">
            </a>
            <a href="#">
              <img src="/front/img/staff-4.jpg">
            </a>
            <a href="#">
              <img src="/front/img/staff-1.jpg">
            </a>
            <a href="#">
              <img src="/front/img/staff-5.jpg">
            </a> -->
            <div id="stories"></div>
          </div>
        </div>
        <div class="ExplorerCnt">
          <div class="innerHeading">
            <h2>Explore</h2>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="expBox">
                <a class="thumbnail fancybox" rel="ligthbox" href="/front/img/s1.jpg">
                  <img src="/front/img/s1.jpg">
                </a>
                <div class="feedMeta">
                  <a href="#" class="likes">
                    <i class="fa fa-heart"></i> 400 Likes</a>
                  <a href="#">
                    <i class="fa fa-commenting-o"></i> 20 Comments</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="expBox">
                <a class="thumbnail fancybox" rel="ligthbox" href="/front/img/s3.jpg">
                  <img src="/front/img/s3.jpg">
                </a>
                <div class="feedMeta">
                  <a href="#" class="likes">
                    <i class="fa fa-heart"></i> 400 Likes</a>
                  <a href="#">
                    <i class="fa fa-commenting-o"></i> 20 Comments</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="expBox">
                <a class="thumbnail fancybox" rel="ligthbox" href="img/s2.jpg">
                  <img src="/front/img/s2.jpg">
                </a>
                <div class="feedMeta">
                  <a href="#" class="likes">
                    <i class="fa fa-heart"></i> 400 Likes</a>
                  <a href="#">
                    <i class="fa fa-commenting-o"></i> 20 Comments</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="expBox">
                <a class="thumbnail fancybox" rel="ligthbox" href="/front/img/s1.jpg">
                  <img src="/front/img/s1.jpg">
                </a>
                <div class="feedMeta">
                  <a href="#" class="likes">
                    <i class="fa fa-heart"></i> 400 Likes</a>
                  <a href="#">
                    <i class="fa fa-commenting-o"></i> 20 Comments</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

   <% include ./footer %> 
  <script src="/front/js/zuck.js"></script>
<script src="/front/js/story.js"></script>
