<% include ./header %> 
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-xs-12">
                <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%- error %></div>
                <% } %>

                 <% if (success.length > 0) { %>
                <div class="alert alert-success"><%- success %></div>
                <% } %>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Artist services list</h3>
                        
                        <div class="box-tools">
                            <div class="input-group" style="width: 150px;">
                                <input type="text" id="search" name="table_search" class="form-control input-sm pull-right" placeholder="Search" onkeyup="ajax_fun('1');">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div id="ajaxdata">                            
                    </div>
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

     <% include ./footer %> 

       <script type="text/javascript">

ajax_fun('1');

function ajax_fun(e)

{
   $.ajax({

        url: '/total_services_list',
        type: "GET", 
        data:{'search':$('#search').val(),'page':e} ,                 
        cache: false,
        beforeSend: function() {
            $("#ajaxdata").html('<div class="overlay" style="padding-top:150px"><i class="fa fa-refresh fa-spin"></i></div>');
        }, 
        success: function(data){

            $("#ajaxdata").html(data);

        }

    });

   

}

</script>


